[2012-08-27 20:21] baron1405 opened #4 "Are v3 user auth/priv password changes supported?"
Looking through the snmpv3_user define, it does not appear that a change to the user's authentication or privacy passwords will be realized in the snmp configuration. It appears that the presence of the user is detected but not the credentials. Granted net-snmp makes this difficult and would requiring deriving the localized key for comparison on the usmUser line.

[2013-08-05 09:39] hostingnuggets opened #9 "rouser in snmpd.conf missing for v3 auth"
Hi,

I am currently testing this module with Debian 7 and SNMP v3 auth, unfortunately it does not work as it does not add the "rouser" parameter into the snmpd.conf file. Here is my puppet manifest:

class { 'snmp':
  agentaddress => [ 'udp:161', ],
  contact      => 'root@yourdomain.org',
  location     => 'Phoenix, AZ',
}

snmp::snmpv3_user { 'myv3user':
  authpass => 'authpass',
  privpass => '

[2013-09-06 17:02] LightAxe opened #10 "rocommunity commented out"
ro_community leads to a commented out rocommunity snmpd.conf file; this seems counterintuitive.

[2013-11-22 22:08] clintmiller opened #11 "The documentation for init.pp incorrectly suggests that the snmp class takes a 'services' parameter"
The default value set in the snmpd.conf template is 72, which may be fine for some SNMP monitoring, but it seems to prevent CPU usage and disk space monitoring, at least in NET-SNMP on Linux hosts. 76 works well there, so is it possible to allow this to be set as a class parameter?

[2013-11-22 22:21] #11 closed, assigned to nobody

[2014-02-18 12:03] MACscr opened #14 "dynamic sysname?"
Any way to have it dynamically add the hosts fqdn as the sysname in the snmpd.conf on the client? I need this in order for my autodiscovery to work with Observium.

[2014-03-27 10:29] rlex opened #16 ""Debian will not support the use of non-numeric OIDs""
Hi,
To fix this you need to install package snmp-mibs-downloader which downloads proprietary mibs.

[2014-09-03 19:32] jhoblitt opened #20 "`ensure => absent` fails on el5/el6 if net-snmp-utils is installed"
This module is able to install net-snmp-utils on el{56}.x by setting `install_client => true` but won't uninstall via `ensure => absent` unless `install_client => true` is also set.  Eg.

[code]

This is a minor nitpick but I find the parameter misleading.  Perhaps `manage_client` would be more intutive?  Or would it make sense for `ensure => absent` to explicity set the same on `snmp::client`?

[2014-10-02 13:40] rlex opened #23 "Future parser and puppet-snmp"
...gives following error:
Oct  2 17:38:17 puppet puppet-master[32215]: Illegal variable name, The given name 'Doptions' does not conform to the naming rule /^((::)?[a-z]w_)_((::)?[a-z_]w*)$/ at /etc/puppet/modules/snmp/manifests/snmpv3_user.pp:68:24

Probably should be as easy as renaming few vars?

[2014-10-02 14:48] #23 closed, assigned to nobody

[2014-10-07 06:51] #14 closed, assigned to razorsedge

[2014-10-07 06:52] #20 closed, assigned to razorsedge

[2014-11-10 13:01] rlex opened #30 "snmpd_options and other /etc/defaults/snmpd options is not in docs"
...Should this be marked as "bug"?

[2014-11-27 16:26] mojothemonkey opened #31 "ro_community not propogated to com2sec"
not working for me for some reason, on PE 3.7

all I am trying is:

[code]

the string gets propogated to the 'traditional access control'

[code]

 but not to the com2sec section

[code]

[2014-12-25 09:08] lingfish opened #32 "No way to configure trapsink/trap2sink for configuring the sending of traps"
The title pretty much says it all -- unless I'm missing something, I don't see how this can be done, other than using `snmpd_config`?

[2014-12-29 09:30] #31 closed, assigned to razorsedge

[2014-12-30 00:06] #32 closed, assigned to razorsedge

[2015-01-03 19:49] razorsedge commented on #10
This is fixed in [razorsedge/snmp](https://forge.puppetlabs.com/razorsedge/snmp/) version 3.3.1.

[2015-01-03 19:49] #10 closed

[2015-01-06 16:29] Seegras commented on #4
I checked out the module, but can't find any reference to snmpusm (which happens to be in the package "snmp" on a modern Debian/Ubuntu, and which isn't installed by the module). So how exactly is the module even supposed to create users?

[2015-01-07 12:24] Seegras commented on #4
Got it. ran into this: https://bugs.launchpad.net/ubuntu/+source/net-snmp/+bug/1322431
There's still a problem: the module does not install libsnmp-dev which is supposed to include /usr/bin/net-snmp-create-v3-user

[2015-01-07 15:35] Seegras opened #33 "creating snmpv3 users fails with passphrases containing spaces"
Fix is simple, in manifests/snmpv3_user.pp

  if $privpass {
    $cmd = "createUser ${title} ${authtype} \\\"${authpass}\\\" ${privtype} \\\"${privpass}\\\""
  } else {
    $cmd = "createUser ${title} ${authtype} \\\"${authpass}\\\""
  }

[2015-02-19 14:17] bdellegrazie opened #36 "ro_community cannot be set to 'undef' to remove from ERB template"
Hi,

Presently in the snmpd.conf ERB template, ro_community and the others are all tested for 'nil' value before outputting the content - this is fine. However the way the parameters are constructed with the ENC backend and the hard coded default there is no possible way to set the variable to undef and consequently skip its output.

Can I suggest checking for both nil and size > 0 as this would a

[2015-03-24 05:08] #36 closed

[2015-03-31 21:49] seitzbg opened #44 "CentOS 7.1 breaks params.rb"
$majdistrelease = regsubst($::operatingsystemrelease,'^(\d+)\.(\d+)','\1')

Does not work on CentOS 7.1.1503. That variable does not seem to exist.

lsbdistdescription => CentOS Linux release 7.1.1503 (Core)
lsbdistrelease => 7.1.1503
lsbmajdistrelease => 7
lsbminordistrelease => 1

Thus you get:

Mar 31 17:43:10 b0c008ash2001 puppet-user[42116]: comparison of String with 5 failed at /var/lib/pupp

[2015-04-01 05:42] razorsedge commented on #44
What value does `facter operatingsystemmajrelease` return?

[2015-04-01 14:33] razorsedge commented on #44
Which version of the centos-release package do you have installed?  You should have release `el7.centos.2.8`, otherwise it is a CentOS bug. http://lists.centos.org/pipermail/centos-announce/2015-April/021010.html

[2015-04-01 20:50] seitzbg commented on #44
Yep you can close this, CentOS 7.1 screwed up and fixed in latest :)
Thanks dude!

[2015-04-01 20:50] #44 closed

[2015-04-20 11:55] robertaspinall opened #45 "No support for syslocation/syscontact"
We use a monitoring service that reads the SNMP syscontact & syslocation settings, can you add support for these two parameters?

[2015-04-20 12:55] #45 closed

[2015-04-20 12:55] robertaspinall commented on #45
Nevermind, something weird going on in the PE gui.  Sorry about that.

[2015-05-15 08:50] gmsoft-tuxicoman opened #46 "Creating snmpv3 users on loaded system fails"
Sometimes when creating an snmpv3 user fails because the service snmpd isn't finished stopping when the create user command is issued. This is due to the fact that the 'service stop snmpd' command send a signal which is processed asynchronously.

To fix this, I added a little delay in the create user command

command => "${service_cmd} ; sleep .5; echo \"${cmd}\" >>${snmp::params::var_net_snmp}/${

[2015-06-23 16:03] tlimoncelli opened #52 "Not possible to not start snmptrapd service"
On RedHat systems, there doesn't seem to be a way to start snmpd without also starting snmptrapd.  The module enables both or neither.  If I set:

[code]

snmptrapd still gets started.

Is the intentional?  Is it bad to run snmpd without snmptrapd?  We don't do anything with traps in our environment.

[2015-06-24 07:14] razorsedge commented on #52
Tom,

By default `trap_service_ensure` is set to `stopped` and `trap_service_enable` to `false` in params.pp.  Using just `include ::snmp`, you should only have the snmpd running.  Normal operation does not require snmptrapd.

[2015-06-24 14:44] tlimoncelli commented on #52
Thanks for the info.  I now see that I was misreading the code.  Yes, it all works as expected.

Thanks!

[2015-06-24 14:46] #52 closed

[2015-06-30 01:48] tlimoncelli opened #53 "Docs are unclear about replacement for ro_community et al"
The docs warn that

[code]

Could you give a brain-dead example or two of what parameters should be used instead?  To use the Reddit phrase... explain it to me like I'm 12 years old.  Thanks!  (TBH, I think the com2sec stuff in the net-snmp package is badly documented in the first place.)

[2015-06-30 07:00] razorsedge commented on #53
First off, I am definitely not an SNMP expert.  I only wrote this module in order to have something for the HP hardware monitoring tools ([Support Pack for Proliant](https://forge.puppetlabs.com/razorsedge/hp_spp)) to work with. I have a bad habit of being thorough.  With that said...

With traditional access control, you can give a simple password and (optional) network restriction:
[code]
and it

[2015-06-30 12:41] tlimoncelli commented on #53
That goes a long way to clarify things.  Would you please integrate that into the docs?

Another thought I had was rather than eliminating ro_community, rw_community, ro_network, and rw_network, why not permit them but have them generate the appropriate com2sec/group/view/access statements instead?  It seems like it would be less error prone to have Puppet do the transformation than to let humans

[2015-06-30 13:30] tlimoncelli opened #54 "Provide a higher-level interface to snmpd"
Most sites have simple needs that can be stated at a high level as:
- read only:
  - "communitystring1", [list of cidr blocks]
  - "communitystring2", [list of cidr blocks]
- read/write::
  - "communitystring3", [list of cidr blocks]
  - "communitystring4", [list of cidr blocks]

I propose a snmp::easy{} class that simply takes those values and generates the appropriate class parameters to snmp{}.

[2015-07-04 06:42] razorsedge commented on #53
I will integrate this into the docs.

I am trying to remember why I decided to eliminate ro_community, rw_community, ro_network, and rw_network.  For the life of me, I have no idea.  Although you can always use the safety valve, I think I will keep them around.

[2015-07-04 07:50] razorsedge commented on #54
If I keep `ro_community` and friends around and if #49 gets merged, will this solve the issue?

I have been debating about creating a Define['snmp::config'] that will piece together the snmpd.conf instead of fitting everything into one monolithic template.

[2015-07-05 06:14] razorsedge commented on #30
Begun in commit 4789e77ddbade72df041149a6ad61dd540600f8b.

[2015-07-05 07:02] razorsedge commented on #53
I have been working on updated documentation.  https://github.com/razorsedge/puppet-snmp/blob/feature/README.markdown/README.markdown
Let me know what you think.

[2015-07-05 15:57] TomOnTime commented on #53
This is a big improvement. The one aspect I would change is that it is
difficult to tell which are config file reserved keywords and which are
things a user can change.  I would simply add:

* myUserName:   A username you've selected.
* myGroupName   A group name you assign users to.
* everyThing   A "view" i.e. a list of MIBs that will be ACLed as a unit.

On Sun, Jul 5, 2015 at 3:02 AM, Mike Arn

[2015-07-05 16:08] tlimoncelli commented on #54
Yes, that'd be great!

My though with ::easy() (a terrible name, but you might have a better one) is that it would be high-level enough that it could configure some other snmp package.  That is, if someone wrote something better than net-snmp, the ::easy() class would do the right thing.

[2015-07-06 06:15] razorsedge commented on #53
README.markdown has been updated with your suggestion.

[2015-07-06 10:39] TomOnTime commented on #53
Thanks!

[2015-07-07 06:26] razorsedge commented on #54
Hindsight being 20/20, I really wish that I had named several of my modules differently.  This module is one of them.  I should have named it razorsedge-netsnmp.

In a perfect world, I might have a razorsedge-snmp module that is a wrapper around a razorsedge-netsnmp module and a razorsedge-aixsnmp module.  Then I could just call the wrapper `::snmp` module with the generic parameters and have the

[2015-07-07 06:36] razorsedge commented on #30
This should now be fixed.

[2015-07-07 06:36] #30 closed

[2015-07-07 06:36] #46 closed

[2015-07-07 22:24] TomOnTime commented on #54
That happens to us all.

[2015-07-28 07:35] hdep opened #56 "Disable snmp v2 & v1"
Hello,

I am currently testing your plugin which seems working fine on my system (debian 8).
Il only want to use snmpv3, this is working but the plugin is still generating some configuration about snmp v2, is there a way to disable this ?

Regards,

[2015-07-31 12:27] linuxdan opened #57 "Multiple rocommunity,rwcommunity"
Your module can only put one rocommunity and one rwcommunity line in snmpd.conf

I need to put more than one of each.

I may be able to contribute a solution

[2015-08-06 15:45] TomOnTime commented on #57
This is fixed in https://github.com/razorsedge/puppet-snmp/pull/55.  Any chance we can get that merged?

[2015-08-19 00:15] srianirudh84 commented on #9
Hi @linuxmail

Just curious, were you able to get it to work ?

[2015-08-19 00:55] srianirudh84 opened #58 "snmpwalk fails after installing this module"
Hi ,

I install this module with the following config:

snmp::snmpv3_user { 'user':
  authtype => 'MD5',
  authpass => 'authpass',
  privtype => 'DES',
  privpass => 'privpass',
}
class { 'snmp':
  agentaddress => [ 'udp:161'],
  ro_network => '0.0.0.0' ,
  contact => 'it-team@domain',
  location => 'US',
  snmpd_config => [ 'rouser user' ],
}

This installes the snmp package successfully and then

[2015-08-19 01:02] srianirudh84 commented on #58
snmpwalk -v3 -l authPriv -a md5 -A authpass -x des -X privpass -u user <HOSTNAME> gives me the following error :
No log handling enabled - turning on stderr logging
snmpwalk: Authentication failure (incorrect password, community or key)

[2015-08-20 20:58] srianirudh84 commented on #58
@razorsedge

Am i missing something here in the snmp class ? Is this is correct order of invoking the classes ?

[2015-08-24 11:31] linuxmail commented on #9
hi @srianirudh84

nope, I just put the command into a exec script :-/

[2015-09-02 20:15] carloshbr opened #59 "How to enable snmpv3_user?"
Configuring snmpv3_user in init.pp file

What parameters should I use

[2015-09-03 14:11] carloshbr commented on #59
I have To Do Some change without init.pp file to create snmpv3_user ?

[2015-10-15 00:13] razorsedge commented on #57
Merged.

[2015-10-15 00:16] #53 closed

[2015-10-15 05:43] razorsedge commented on #33
Merged.

[2015-10-15 05:47] razorsedge commented on #58
@srianirudh84 Try changing the parameter `snmpd_config => [ 'rouser user' ],` to `snmpd_config => [ 'rouser user authPriv' ],`.

[2015-10-15 05:56] razorsedge commented on #56
@hdep I am not positive, but try this:
[code]

[2015-10-15 05:58] razorsedge commented on #59
@carloshbr To install a SNMP version 3 user for snmpd:
[code]

[2015-10-15 06:16] razorsedge commented on #33
Shipped [v3.5.0](https://forge.puppetlabs.com/razorsedge/snmp/3.5.0/) to the Forge.

[2015-10-15 06:16] #33 closed

[2015-10-15 06:16] razorsedge commented on #57
Shipped [v3.5.0](https://forge.puppetlabs.com/razorsedge/snmp/3.5.0/) to the Forge.

[2015-10-15 06:16] #57 closed

[2015-10-21 07:33] ggeldenhuis opened #60 "smuxsocket disabling"
Hi
On CentOS 7.1.1503 snmpd listens on tcp port 199 by default. I tried to switch it off via startup flags but unfortunately these get ignored. Specifically "-I -smux" From the little reading I have done this does not seem to be widely used and is turned off on Ubuntu 14. The only way to disable it is by giving it the wrong configuration:
smuxsocket 1.0.0.0

Now at the moment this is not surfaced

[2015-10-23 03:51] razorsedge commented on #60
There is a snmpd safety valve parameter to add in anything the module does not natively support.

[2016-01-06 10:02] gmsoft-tuxicoman opened #63 "Debian Jessie use /etc/default/snmptrapd for $trap_sysconfig"
It seems that it changed between releases.
TRAPDRUN and TRAPDOPTS now need to be set in /etc/default/snmptrapd instead of snmpd.

[2016-01-06 10:11] gmsoft-tuxicoman commented on #63
I forgot to mention that it also has it's own package and it's not bundled with snmpd anymore.

[2016-01-15 03:50] linuxphone opened #64 "Guidance using this module"
Team,
Can someone provide me with some guidance in getting this module to work. I am using RHEL 7 and puppet 3.8. Thank you.

[2016-03-04 17:20] jdehnert opened #65 "Unknown variable: '::snmp_agentaddress' error"
I'm running your snmp module on a puppet 4 puppetserver (V 2.2.1) on Centos 6.7, and I'm getting the following error when I run:

`Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Evaluation Error: Unknown variable: '::snmp_agentaddress'. at /etc/puppetlabs/code/environments/test/modules/snmp/manifests/params.pp:19:19 on node it-lnx-01.enphaseenergy.com`

I have created t

[2016-03-21 18:57] jimmihagen commented on #65
This error message indicates the variable was never initialized. The error goes away if the strict_variables setting is not 'true', which will let you use this module as-is, but could potentially introduce errors.

[2016-03-29 20:51] brahama commented on #58
Hi @razorsedge , I have the samme problem. Just using the example as in the Readme and if i create the user manually it works ok.

::snmp::snmpv3_user { 'user':
    authpass => '123456789',
    privpass => '123456789',
  }

  class { '::snmp':
    snmpd_config => [ 'rouser user authPriv' ],
  }

Thanks!

[2016-04-04 20:49] tolecnal opened #66 "RFC-standard MIBS on Debian / Ubuntu"
Hello,

I saw you had an item listed as an issue in your README, pertaining to RFC-standard MIBS on Debian. If you install the package 'snmp-mibs-downloader' and uncomment the following line in /etc/snmp/snmp.conf:

mibs :

You should now be able to do 'snmpwalk -v 2c -c public localhost system'

This package is available in the following versions of Debian:
- wheezy
- jessie
- sid

Please not how

[2016-05-19 07:30] tarheeljeff commented on #56
Any updated comments on disabling v1/v2 as part of the config?

[2016-06-13 14:16] DRN88 commented on #59
Hello. Is there a way to create snmpv3 user from hiera, instead of definition?

Thanks.

[2016-06-24 07:59] mterzo commented on #65
Upgraded to puppet 4 and this module has tons of these issues. I'm going to submit a patch I don't see anyone else working on this.

[2016-06-30 10:26] MaDYeTTi opened #72 "can't change value of snmp_com2sec (and potentially some other variables)"
I've tried t change value of snmp_com2sec to something like "notConfigUser  127.0.0.1     public".

Problem is that's not passing check_array.
So effectively you can't change it to a string you need.

here is error log:

Maybe it's not a best idea to use check_array for some of these variables.

[2016-07-01 22:59] msiroskey commented on #56
After looking into the code you can disable v1/v2 by passing an empty array to com2sec and com2sec6 parameters.

[code]

[2016-09-07 10:20] mterzo opened #75 "CI failing, Module sync out of date."
I updated to your latest development and tried to just build with travis:
https://travis-ci.org/mterzo/puppet-snmp/builds/158126929

Your module sync doesn't put any restrictions on the Json gem, which it's trying to pull down a version that does not work with ruby <= 2.0

Once you get past that you are getting puppet-lint 2.0.2 which the parameter for long lines changed from `--no-80chars-check`

[2016-09-16 22:19] jnquintin commented on #75
Corrected in the pr#79

[2016-09-16 22:21] jnquintin commented on #65
Corrected in the pr#79

[2016-11-07 13:20] Tontonitch opened #81 "File permissions do not match the ones of the net-snmp"
Hi,

After configuring the snmp services via your puppet module, the permissions of the following files do not match the ones of the net-snmp software rpm.

[code]

The puppet module sets the perm to 644 instead of 600.

Could it be changed in a future release of the module?
So that I won't receive any alerts in reports from SCAP.

Best regards,
Yannick

[2016-11-12 16:52] jflorian commented on #81
@Tontonitch I'm not a developer of puppet-snmp, but a fellow user.  Good catch here given this file has credentials stored that should be kept secret and protected.  It seems that the Red Hat family of OSes have the wrong default mode for these files, as you can see [here](https://github.com/razorsedge/puppet-snmp/blob/master/manifests/params.pp#L325).

Until this gets resolved correctly, I've got

[2016-11-14 13:11] Tontonitch commented on #81
Ok, thanks for your solution John!Best regards,Yannick

      De : John Florian <notifications@github.com>
 À : razorsedge/puppet-snmp <puppet-snmp@noreply.github.com>
Cc : Yannick Charton <tontonitch-pro@yahoo.fr>; Mention <mention@noreply.github.com>
 Envoyé le : Samedi 12 novembre 2016 17h52
 Objet : Re: [razorsedge/puppet-snmp] File permissions do not match the ones of the net-snmp (#81)

@Ton

[2016-11-14 17:05] TomOnTime commented on #81
Please make this a parameter. We have certain machines that set the file perms to 0640 and the group to something non-standard.   (Rationale: Certain processes need to read that file but we don't want those processes to run as root)

[2016-11-14 17:35] jflorian commented on #81
It already is a parameter. See my comment above. Or I don't understand what you were asking for.
--
John Florian

[2016-11-15 14:02] TomOnTime commented on #81
Its all good.  Thanks!

[2016-11-15 16:26] razorsedge commented on #81
@Tontonitch What OS/OS version/SNMP version are you using?

[2016-11-21 21:27] blackknight36 opened #83 "No such file or directory errors"
There appears to be an error when this module is first run that causes errors to show up in our puppet reports.  For example, the following errors occur during the first puppet run on a new host.

[2016-12-07 09:44] vStone opened #84 "Move the module to voxpupuli"
Since you mentioned being swarmed with work, maybe we can move this module to voxpupuli so more eyes can keep it up to date (looking at puppet4 and strict_variables)

https://voxpupuli.org/docs/#migrating-a-module-to-voxpupuli

[2017-01-29 00:07] Tontonitch commented on #81
RedHat 7.3, Net-Snmp 5.7.2

[2017-01-30 15:06] dhollinger commented on #84
@razorsedge any thoughts?

We would be more than willing to take it in and maintain it.

[2017-02-08 12:46] elconas commented on #84
:+1:  do it :)

[2017-02-11 05:18] blackknight36 commented on #84
I guess I'll throw my +1 in here.  I'd love to see an active community maintaining a single module instead of 80 different forks.

[2017-03-28 09:09] cedef commented on #84
Any news on this one ? If I understand correctly, voxpupuli is waiting on @razorsedge to follow the [migration guide](https://voxpupuli.org/docs/#migrating-a-module-to-voxpupuli).

[2017-04-01 20:43] oranenj commented on #84
Can I somehow help make this happen? This module could use a bit of Puppet 4 updating, even though it does work well even as is.

[2017-04-02 03:22] blackknight36 commented on #84
Not sure what to do at this point.  I have a custom fork of this module which does provide puppet 4 support and I'd love to see the changes merged into this module.

[2017-04-22 18:26] razorsedge commented on #56
Looks like a documentation update is in order.

[2017-04-22 18:34] razorsedge commented on #66
This is a duplicate of #16.
I probably will not get around to fixing this without a PR.

[2017-04-22 18:49] razorsedge commented on #72
@MaDYeTTi check_array is doing it's job.  Try setting the value to an array:

[code]

[2017-04-22 18:52] razorsedge commented on #83
@blackknight36 What versions of Puppet, Puppet server, and OS are we dealing with?  Which version of the razorsedge/snmp module?

[2017-04-22 18:54] razorsedge commented on #75
This had been fixed in a37c2ae81a82380be5d7e7836098635c662f1617 and related commits to the `develop` branch..

[2017-04-22 18:54] #75 closed

[2017-04-23 02:11] razorsedge commented on #58
closing

[2017-04-23 02:11] #58 closed

[2017-04-23 20:43] #81 closed

[2017-04-23 21:04] razorsedge commented on #64
@linuxphone
From the README:

Beyond that, we would have to know what you were trying to do.

[2017-04-23 21:05] razorsedge commented on #60
closing

[2017-04-23 21:05] #60 closed

[2017-04-24 14:27] blackknight36 commented on #83
@razorsedge We're running puppetserver 2.7.2 with puppet-agent 1.9.10 on CentOS 7.2.  I've also seen this error on Fedora based systems.  I believe the issue is that the snmp::client class attempts to create a config file before the /etc/snmp directory exists.  This directory is provided by the net-snmp package so it may be possible to fix this by adding a package requirement on the file resource.

[2017-04-25 02:39] razorsedge commented on #83
@blackknight36 Odd.  I'm looking at the [latest code](https://github.com/razorsedge/puppet-snmp/blob/master/manifests/client.pp#L92) and the `File['snmp.conf']` is using a `require` as long as you are [not on Suse](https://github.com/razorsedge/puppet-snmp/blob/master/manifests/client.pp#L75). Either the `$req` is not getting set, or maybe Puppet 4  has issues with package aliases.

[2017-04-25 12:48] blackknight36 commented on #83
I'll have to set up a VM and run some more tests.  The error only occurs on the first puppet run, once the /etc/snmp directory is created the error goes away.

[2017-04-25 13:39] blackknight36 commented on #83
I believe I see the issue.  $req is set to require the snmp-client package which does not create the /etc/snmp directory.  /etc/snmp is provided by the net-snmp package on redhat based systems as shown by the rpm command.

username@dev27:/etc/snmp$ rpm -qf .
net-snmp-5.7.3-13.fc25.x86_64

$req should most likely be changed to $snmp::params::package_name since that is the correct package which mana

[2017-04-25 17:14] blackknight36 commented on #83
I've submitted PR #98 which should fix this on Redhat and Fedora based systems.

[2017-05-15 19:15] ardichoke commented on #84
Could we please make this happen? Alternatively, @blackknight36, could you take your fork and migrate it to the voxpupuli community?

[2017-05-15 19:28] Tomelin opened #103 "Problem with puppet v4"
Hi,

This is module with problem puppet v4.

is it:

Error: Could not retrieve catalog from remote server: Error 500 on SERVER: {"message":"Server Error: Evaluation Error: Unknown variable: '::snmp_agentaddress'. at /etc/puppetlabs/code/environments/production/modules/snmp/manifests/params.pp:19:19 on node mail.tolidistribuidora.com.br","issue_kind":"RUNTIME_ERROR","stacktrace":["Warning: The 'sta

[2017-05-15 20:22] blackknight36 commented on #84
@ardichoke I'll see what I can do.  I was waiting to see if any of my PRs would be merged in.  @razorsedge seems to have returned from the dead for a bit but it's been a few weeks without any response now.

[2017-05-15 20:27] blackknight36 commented on #103
Do you have strict variables enabled?  manifests/params.pp appears to reference $::snmp_agentaddress however puppet should fall back to the default value when that variable is undefined.

[2017-05-17 13:36] razorsedge commented on #103
@Tomelin Version 3.x of this module does not support Puppet 4's STRICT_VARIABLES=true.  I have several PRs in the works for fixing this.

[2017-05-22 11:27] elisiano commented on #83
I'm seeing this too. Since the PR has been merged, is there an ETA for when this can hit the forge?

[2017-05-23 13:36] razorsedge commented on #83
I hope to get this pushed to the Forge by this weekend.

[2017-05-28 20:26] razorsedge commented on #103
Closed by #102

[2017-05-28 20:26] #103 closed

[2017-05-28 20:26] razorsedge commented on #83
Closed by #98

[2017-05-28 20:26] #83 closed

[2017-05-28 20:28] razorsedge commented on #83
3.8.0 has been pushed to the Forge.

[2017-06-01 15:48] djschaap opened #106 "Using an array for ro_community breaks snmptrapd"
manifests/init.pp says ro_community can be either strings or arrays of strings.  When an array is provided, snmpd.conf is generated properly, but snmptrapd.conf does not loop over each community as expected, resulting in an invalid config file. [correction: ro_community6 is not relevant for snmptrapd.conf]

[2017-06-16 02:59] razorsedge commented on #106
Fixed in version [3.8.1](https://forge.puppet.com/razorsedge/snmp/3.8.1/readme).

[2017-06-16 02:59] #106 closed

[2017-06-27 06:50] eLvErDe opened #108 "Debian Stretch (new stable) use a different user for snmpd"
Hi,

Here is the new user for snmpd:

[code]
[code]
Regards, Adam.

[2017-06-28 12:47] hotid commented on #108
[code]

[2017-07-03 13:24] tamepenguin commented on #108
<pre>
diff --git a/tmp/origsnmp/manifests/params.pp b/manifests/params.pp
index 1c9566d..15ee810 100644
--- a/tmp/origsnmp/manifests/params.pp
+++ b/manifests/params.pp
@@ -463,17 +463,22 @@ class snmp::params {
       $trap_service_name        = 'snmptrapd'
     }
     'Debian': {
+      if $::operatingsystemmajrelease == "9" {
+        $varnetsnmp_owner = "Debian-snmp"
+        $varnetsnmp_group

[2017-07-18 07:31] hostingnuggets commented on #108
Any news regarding this issue?

[2017-07-18 13:05] razorsedge commented on #108
PR in #109

[2017-09-24 15:03] brigriffin opened #110 "snmpd_options parameter does not work with Debian 9"
The `snmpd_options` parameter of this module does not work anymore with Debian 9 (stretch). It looks like modifying the `SNMPDOPTS` environment variable directly in the `/etc/defaults/snmpd` file as does this module actually do is not taken in account anymore. Since Debian 9 uses systemd, the default SNMP daemon options are set in `/lib/systemd/system/snmpd.service` (in the `ExecStart` parameter).

[2017-09-25 15:17] Flupsy opened #111 "validate_numeric() and friends are deprecated in stdlib"
The validate_*() functions in puppetlabs-stdlib have all been deprecated.  See https://github.com/puppetlabs/puppetlabs-stdlib#functions for details.

[2017-09-27 15:57] khaefeli commented on #111
should be easy to replace. see the warning messages:

    Warning: This method is deprecated, please use the stdlib validate_legacy function, with Stdlib::Compat::Array. There is further documentation for validate_legacy function in the README.

[2017-10-11 14:11] pawel-kuwalek commented on #108
update, PR in #113

[2017-11-08 04:59] johanfleury commented on #84
Any updates?

[2017-11-08 21:47] blackknight36 commented on #84
I can talk to Vox Pupuli about moving this module over.  They normally like to work with the original module author but it seems like @razorsedge is unavailable for the most part.

[2017-11-28 14:19] tjungbauer opened #115 "configuring extend parameters"
Hi,

This is more a feaure request than a bug.

I recently started to deploy snmpd config using puppet. Unfortunately I saw that some hosts are failing, because custom cripts are used to check specific items.

Is there a possibility to add "extend" configuration parameters, or is there a reason why they have not been added?

For instance:
extend  pcluster_check_space  /bin/sh /usr/local/scripts/ch

[2017-12-29 17:29] xraystyle commented on #108
@razorsedge Are you still maintaining this project? We're still hoping to get https://github.com/razorsedge/puppet-snmp/pull/113 merged in so we can use it without forking this module.

[2018-01-07 14:24] razorsedge commented on #108
Merged into the `develop` branch.

[2018-01-07 15:04] razorsedge commented on #115
The only reason why `extend` has not been added is that no one had requested the feature and that `snmpd_config` is able to address any non-native parameters.  I will look at PR #118 .

[2018-01-07 18:34] razorsedge commented on #108
Released with [razorsedge/snmp](https://forge.puppet.com/razorsedge/snmp) version 3.9.0.

[2018-01-07 18:34] #108 closed

[2018-01-07 18:35] razorsedge commented on #115
Released with [razorsedge/snmp](https://forge.puppet.com/razorsedge/snmp) version 3.9.0.

[2018-01-07 18:35] #115 closed

[2018-02-24 11:41] alaunay commented on #110
That is correct... Here we added a workaround, but it would be nice to see the logic directly into the module:

[code]

With the exec due to systemd being unable to read system conf files directly, as it seems.

[2018-04-04 14:01] AndreyBoyko opened #123 "extemds variable"
$snmp_extends = getvar('::snmp_extends')
  if $snmp_extends {
    $extemds =  $::snmp_extends ### it has to be $exte**n**ds
  } else {
    $extends =  []
  }

[2018-05-17 15:00] eLvErDe commented on #123
Confirmed !

It breaks snmpd deployment everywhere ;-)

[2018-08-09 14:51] hdep commented on #56
Thank you.
Juste tried that on Debain 9 I got some error :

Aug  9 16:49:39 serversnmpd[12025]: /etc/snmp/snmpd.conf: line 22: Error: Blank line following com2sec token.
Aug  9 16:49:39 server snmpd[12025]: /etc/snmp/snmpd.conf: line 24: Error: Blank line following com2sec6 token.

Maybe it would more efficient to create a variable which enable or disable snmpv2 configuration ?

[2018-08-11 13:28] hartmel opened #129 "cannot disable VACM"
The default behavior force to have a VACM configuration, which enable answers (but empty) on "public" community.
Allowing empty configuration would permit to remove the VACM lignes from configuration file, when it s not needed.

[2018-08-11 13:50] hartmel commented on #129
In fact it works for me, passing an empty array from my ENC works well. Sorry for the inconvenience.

[2018-08-11 13:50] #129 closed

[2018-08-20 20:13] hdep commented on #56
I did a PR for this :
https://github.com/razorsedge/puppet-snmp/pull/128

Any help appreciated to fix the remaining issue, but it is working on my VM.

[2018-09-01 10:47] cliff-wakefield opened #132 "Test cases are broken"
Hi,

Unable to submit a PR as the test cases are broken before you even start.

As I a test I submitted a PR with just a change to the readme, which failed.

I'm sure contributors will fix issues with their own code but not with the master branch...

[2018-09-01 12:26] hdep commented on #84
Any news about moving this module over ?

[2018-09-05 15:05] blackknight36 commented on #84
@hdep I haven't had time to go through the process of moving to Voxpupuli but I do have my own fork which is still being maintained.  I've been considering publishing my fork on the puppet forge as well.

[2018-09-05 15:16] blackknight36 commented on #84
I've just published this module on the forge.  See https://forge.puppet.com/blackknight36/snmp for details.

[2018-09-06 02:06] razorsedge commented on #84
Every time that I think I have the time and energy to work on this module, I end up not doing so.

I have begun the process of migrating to voxpupuli.  I will keep this issue informed as to its progress.

[2018-09-06 03:31] blackknight36 commented on #84
@razorsedge Thanks for your help and all of your work on this module.  I look forward to contributing more.

[2018-09-06 20:56] johanfleury commented on #84
This is good news.

Thank you for all the work you’ve done on this module!

[2018-09-07 20:42] razorsedge commented on #84
If you are reading this, the module ownership has changed.  I think a few more steps in the process have to be taken by Vox Pupuli staff.

[2018-09-10 01:26] ubellavance commented on #84
Thanks for your work @razorsedge

[2018-09-15 00:40] #132 closed

[2018-09-21 17:55] #56 closed

[2018-09-27 07:50] vStone opened #138 "Release the current version on the forge"
We're currently just starting to use the module and it would be useful if the current version would at least be released to make future upgrades (and possibly development) more easily

[2018-10-05 06:12] vStone commented on #72
Looks like this is not really a bug. Data typing has been put in place.

[2018-10-05 06:12] #72 closed

[2018-10-05 06:38] alexjfisher commented on #111
These are all fixed now.

[2018-10-05 06:38] #111 closed

[2018-10-05 07:02] vStone commented on #64
2 year old question. not a bug.

[2018-10-05 07:02] #64 closed

[2018-10-17 06:49] #65 closed

[2018-10-22 21:02] BarnumD opened #151 "Needs to be updated to support Ubuntu 18"
On ubuntu 18.04, i'm getting the following due to the fact that the username appears to have changed.
[code]

[2018-10-23 08:07] #151 closed

[2018-10-31 09:39] alexjfisher opened #153 "Prepare for release 4.0.0"
This is the first release in VoxPupuli's `puppet` namespace.

Earlier versions of the module (razorsedge/snmp) stated that traditional access control and its parameters were deprecated and would be removed in version 4.0.0.  Removing this feature has been deferred until at least version 5.

[2018-10-31 09:46] alexjfisher commented on #153
The first comment in this issue will be the 4.0.0 release summary.  Edit that comment to alter what will be included in the changelog.  For github changelog generator to pick this up, this issue has to be in a closed state.

Meanwhile, there are a few things we need or want to fix before we make the release.

**Blockers**

- [ ] Mention migration to VP in README
- [ ] State deprecated parameters w

[2018-11-06 14:45] alexjfisher commented on #153
By assigning this issue to the 4.0.0 milestone, these release notes should more reliably appear under 4.0.0 in the changelog.  (I think).

[2018-11-08 09:33] #153 closed

[2018-11-09 17:40] binford2k opened #163 "Deprecate razorsedge/snmp"
I've filed the ticket to deprecate the Forge module. @razorsedge, could you comment approval on it?

https://tickets.puppetlabs.com/browse/FORGE-466

[2018-11-14 21:57] #4 closed

[2018-11-14 23:09] hartmel opened #170 "suggestion about ro_community removal planned in 5.0"
Hello
I have noticed the expected removal of ro_community in favor of the VACM model for the 5.0 release and I'd like to speak in favor of keeping this setting. These post probably reflects a subjective point of view, but I ll try to be fair.

For what I saw on many snmpd setups, setting the community with a source restricted to a /32 host address (or even restricted to a dedicated management pref

[2018-11-15 10:12] alexjfisher commented on #170
@hartmel Thank you for the feedback.  The feature was originally scheduled for removal in version 4.0.0, but we pushed this back as we hadn't got a strong consensus on whether we should actually go through with it.

The feature was deprecated 4 years ago by the module's author in this [commit](https://github.com/voxpupuli/puppet-snmp/commit/84bab501f58c9b3fcd474fdd224d3c485e930e12).

Also see this

[2018-11-15 10:15] alexjfisher commented on #170
FWIW, the official net-snmp documentation doesn't deprecate the feature, but does use the heading '[Living in Denial](http://net-snmp.sourceforge.net/wiki/index.php?title=Vacm&oldid=5863#Living_in_Denial)' ;)

[2018-11-15 13:19] trevor-vaughan commented on #170
@alexjfisher I 100% agree with the Living in Denial part. However, when IT stops living in denial, it'll be a great day everywhere (hasn't happened yet).

[2018-12-04 19:04] Dan33l commented on #9
We can consider this issue as resolved.

[2018-12-04 19:04] #9 closed

[2018-12-04 19:21] lnemsick-simp opened #172 "Create SNMPv3 user with keys (hashes) in lieu of passphrases"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.x
- Ruby: 2.4.4
- Distribution: CentOS 7, CentOS 6
- Module version: v4.1.0

## How to reproduce (e.g Puppet code you use)
snmp::snmpv3_user only allows a user to be specified with plain text  authpass and privpass passphrases.  This means that these passphrases will exist in either a Puppet manifest or a Hieradata file.

[2018-12-05 16:06] smoeding opened #173 "Failure to set authpass/privpass containing a dollar sign"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.x
- Ruby: 2.4.4
- Distribution: Debian 9
- Module version: 4.1.0

## How to reproduce (e.g Puppet code you use)

Use authpass/privpass containing a '$' like this:
[code]

## What are you seeing

Puppet tries to update the snmpv3 user data at each run.

## What behaviour did you expect instead

Puppet should update the sn

[2018-12-06 20:21] Dan33l commented on #172
@trevor-vaughan  Feel free to propose a PR.

[2018-12-13 14:46] decibelhertz opened #174 "$facts['networking']['fqdn'] not present on FreeBSD"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10.12
- Ruby: 2.4.4p296
- Distribution:
- Module version: 4.1.0

## How to reproduce (e.g Puppet code you use)
Install on FreeBSD

## What are you seeing
Failure to compile on FreeBSD 11.2 when using 4.1.0 of this module and stdlib 5.1.0

## What behaviour did you expect instead
Cheap workaround may be...
[code]
But I am n

[2018-12-13 14:49] ekohl commented on #174
Which version of facter are you using?

[2018-12-13 14:50] decibelhertz commented on #174
Looks like 3.9.0 had a lot of code to work around issues like this that was done away with in 4.0.0.

https://github.com/voxpupuli/puppet-snmp/blob/3.9.0/manifests/params.pp

[2018-12-13 15:10] Dan33l commented on #174
You are probably using facter 2.x.

Are you using puppet all in one package ?

[2018-12-13 15:10] decibelhertz commented on #174
Hm.  Looks to be fairly old ```root@stsdevf:~ # facter --version
2.5.1
``` Yes, I am using the version of puppet `pkg` installs.

[2018-12-13 15:13] decibelhertz commented on #174
[code]

[2018-12-13 15:14] Dan33l commented on #174
If the version of facter is 2.5.1 and version of puppet is 4.10,  the package all in one provided by puppetlabs is not used.  You should consider to use it.

Facter 2 is old version and not supported by the current version of the module.

[2018-12-13 15:41] decibelhertz commented on #174
I am fairly certain all I did was `pkg install puppet4` to get the version of facter I had. Is this what you mean by the "all in one"?

FWIW, I have tried:```$GEM install facter --version=2.4.4 && \
    $GEM install hiera  --version=1.3.4 && \
    $GEM install puppet --version=3.8.5

At any rate, let me repeat the exercise on a clean FreeBSD 12 VM and see what I get...

[2018-12-13 15:53] Dan33l commented on #174
I don't understand why FreeBSD does not follow the puppetlabs matrix versions.
The puppet 4.10 was never provided with facter 2.

And puppet labs does not provide packages AIO for freeBSD.
https://puppet.com/docs/puppet/5.0/puppet_platform.html

I am not a FreeBSD user, it is hard for me to help.

[2018-12-13 16:53] Dan33l commented on #66
closed because of duplicate.
comments will be done on #16

[2018-12-13 16:53] #66 closed

[2018-12-13 17:02] Dan33l commented on #163
Hi @razorsedge to avoid duplicate packages on the forge, can you consider to depracate the module under `razorsedge` name space ? Simply let a comment here to approve it.

[2018-12-13 17:41] Dan33l commented on #174
@decibelhertz probably you have to open an issue on the tracker of packagers to get facter3 compiled on freeBSD.
The last facter 2.4 (2.4.6) was shipped in released on january 26, 2016, so about 3 years ago.
https://puppet.com/docs/facter/2.4/release_notes.html

[2018-12-13 20:40] decibelhertz commented on #174
Fresh install of FreeBSD 12.0-RELEASE confirms that the `pkg`-provided facter is indeed 2.5.1...
[code]
[code]
[code]

[2018-12-13 21:05] decibelhertz commented on #174
Looks like Puppet 5 on FreeBSD will work around the issue by installing Facter 3.12.0, which is okay enough for me.  I'm only testing BSD at this point.
[code]
[code]

I had been using Puppet 4 on FreeBSD with the notion that that would be the closest to my Linux nodes on PE.  Looks like I missed factoring in Facter.

All that to say, your module says it both supports Puppet 4 and FreeBSD, but the

[2018-12-13 21:15] ekohl commented on #174
Sounds like we should at least update metadata.json to only mention FreeBSD 12 then.

[2018-12-13 22:11] alexjfisher commented on #174
Unfortunately, it’s very difficult keeping up with what distributions ship which (sometimes weird) combinations.

Puppet 4 actually goes EOL in two weeks time, so we’ll likely be dropping support soon after and it’ll become even more reasonable to expect everyone to be on facter 3 something.

[2018-12-13 22:18] alexjfisher commented on #174
@decibelhertz If you can confirm the module works on FreeBSD 12 (with puppet 5), we can at least add this version to the metadata.json.

Maybe we can add 11 too?? but drop 9 and 10?? Any feedback you can give as to what puppet versions are available on those platforms would be useful.

[2018-12-13 23:07] decibelhertz commented on #174
Unfortunately, I had an issue with my tester node on 11.x, so I had to destroy it and the template that made it.   I don't have a lot of time to spare in to stand 11.x back up in my infrastructure at this point, especially since I am only fringe testing FreeBSD (mostly CentOS, here).  I can confirm 12.0-RELEASE with puppet 5 works.  I strongly suspect 11.x with Puppet 5 is fine too since I expect

[2018-12-13 23:38] decibelhertz commented on #174
FWIW, here is the log of test 12-.0-RELEASE node changing from 3.9.0 of this module to 4.1.0...
[code]

[2018-12-14 19:39] decibelhertz commented on #174
Thinking on this, I will also suggest that moving the defaults from `params.pp` to data in Hiera may sidestep this issue as well.  The fundamental issue is that Puppet is throwing an error in trying to look up a value in a multidimensional array that does not exist in Facter 2.x.  Advantages to Hiera being:
1. I think Hiera does not fail that way; I bet it would return `undef`, not causing a compi

[2018-12-14 19:47] ekohl commented on #174
The alternative is to use [fact()](https://github.com/puppetlabs/puppetlabs-stdlib#fact) which returns undef for unknown facts. That said, IMHO it's still fine to use `$facts['fqdn']` in this case since it's guaranteed to work in much more versions while there's no official deprecation yet. If there is, there should be a lint plugin that detects deprecated facts so you can easily update.

[2018-12-15 15:33] ekohl commented on #174
This can also be considered a duplicate of https://github.com/voxpupuli/puppet-snmp/pull/169.

[2018-12-15 15:36] decibelhertz commented on #174
@ekohl  -- I agree that `$facts['fqdn']` would be the non-deprecated variable that would sidestep this problem.  I think either of your suggestions would be better than what is currently present.

Sorry to all about missing #169 .  Guess I did not look hard enough.

[2018-12-15 17:53] bastelfreak commented on #174
I'm fine with `$facts['fqdn']` as well.

[2018-12-17 17:22] razorsedge commented on #163
Yes, please deprecate `razorsedge-snmp`.

[2018-12-17 17:33] binford2k commented on #163
Thanks!

[2018-12-17 17:33] #163 closed

[2018-12-18 16:02] smoeding commented on #173
I started working on a fix for this. Unfortunately a `service` resource to stop the daemon will cause a duplicate resource error (even with different titles; Puppet seems to use the namevar internally). So in my opinion the best fix seems to be an `exec` resource to stop the service and a `file_line` resource to update the config file.

[2019-02-04 20:41] thaylin opened #178 "Dependancy listings are out of date"
The stdlib version listed as a dependancy is not accurate. It lists 4.13, I started with 4.14, however it did not work.
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10.12
- Ruby: 2.5.1p57
- Distribution: Rhel 7
- Module version: latest, stdlib 4.14

## How to reproduce (e.g Puppet code you use)
Set stdlib < 4.22
## What are you seeing
Resource type Stdlib::Ensure::Se

[2019-02-04 20:44] bastelfreak commented on #178
@thaylin thanks for rising up this issue. Can you provide a PR that updates the metadata.json?

[2019-02-05 11:17] #178 closed

[2019-02-13 18:46] ghoneycutt commented on #54
Closing as this issue is quite old.

[2019-02-13 18:46] #54 closed

[2019-02-13 18:47] ghoneycutt commented on #16
Thanks for posting the fix. This would be a great thing to do in a profile class.

[2019-02-13 18:47] #16 closed

[2019-02-13 18:49] ghoneycutt commented on #170
We shouldn't remove the existing functionality. If new functionality is needed, please submit a PR. Thanks for your input everyone!

[2019-02-13 18:49] #170 closed

[2019-02-13 18:53] ghoneycutt commented on #174
@decibelhertz Waiting on tests, though deprecating params in favor of data in module in PR #181

Also we don't support Puppet 4 anymore. If this is still an issue after we release v5.0.0, which should be any day now, please re-open.

[2019-02-13 18:53] #174 closed

[2019-02-14 08:55] alexjfisher commented on #170
We should update the readme and include the undeprecating in the 5.0 changelog release summary.

[2019-02-23 16:46] alexjfisher opened #182 "Undeprecate traditional access control"
Lots of people are interested in keeping this functionality which has been marked as deprecated for a long while now.

[2019-02-23 18:14] alexjfisher opened #184 "5.0.0 release summary"
After consulting with the community, it was decided **not** to remove traditional access control.  The feature had been marked as deprecated for a long time, (before Vox Pupuli took over maintenance). We have committed to keeping this feature (but still recommend using VACM instead).

[2019-02-23 18:15] alexjfisher commented on #184
This is the 5.0.0 release summary.  The issue must be closed for github changelog generator to see it.

[2019-02-23 18:15] #184 closed

[2019-02-23 18:26] alexjfisher opened #185 "Clean up function puppet-strings docs"
Puppet-strings isn't very advanced when it comes to generating function documentation.  The current output is pretty poor, but with a few tweaks could be improved.

[2019-02-24 13:07] #173 closed

[2019-02-24 18:51] #185 closed

[2019-04-08 21:20] ngeorgieff opened #189 "Cannot override rw_community6's public"
Defining rw_community6 created a new string instead of replacing the default public.

- Puppet: Puppet v5.3.2 (PE 2019.1)
- Ruby:
- Distribution: CentOS
- Module version: 4.1.0

## How to reproduce (e.g Puppet code you use)
  class { 'snmp':
    agentaddress  => [ 'udp:161', ],
    ro_community  => 'RANDOM_HASH',
    rw_community6 => 'RANDOM_HASH',
    snmpd_options => '',
    #ro_network    => '1

[2019-05-06 14:51] hdep commented on #110
Hi,

I have the same issue.
@bastelfreak is there any work in progress on this issue ?

Maybe the fastest way to fix this is to provide for debian 9 a template for `/lib/systemd/system/snmpd.service  ` ?

[2019-05-07 18:25] bastelfreak commented on #110
@hdep can you provide a patch for this? Also the preferred way custom systemd unit files is `/etc/systemd/system/` and not `/lib/systemd/system`.

[2019-05-08 21:47] Dan33l commented on #110
Since this module is declared Debian9 compatible and with acceptance tests, they should fail. But they pass.

 @hep with your patch can you update acceptance tests to tackle this issue ?

[2019-05-15 09:32] hdep commented on #110
@bastelfreak  on debian 9 the file in /etc/systemd is a link to /lib/systemd
[code]

So I can't do that

[2019-06-21 15:01] zez3 opened #192 "auto create rwuser in /etc/snmp/snmpd.conf for snmp v3"
https://github.com/voxpupuli/puppet-snmp/blob/5f9273deb8fcf1d05a2faabbc993d1136335efe6/manifests/snmpv3_user.pp#L107

Would be nice to hae this fixed somewhere in the future

[2019-08-06 19:31] Dan33l opened #199 "unit tests are failing"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: any
- Ruby:
- Distribution:
- Module version: master

## How to reproduce (e.g Puppet code you use)

git clone current master branch
bundle install --path ./vendor
bundle exec rake test

unit tests are failing like in tests from PR #196.

## What are you seeing

I am able to reproduce locally:
[code]

## Any additional infor

[2019-08-06 20:33] Dan33l commented on #199
With the previous released version of `rspec-puppet-facts` (version 1.9.2) tests are passing. \o/

[2019-08-06 21:45] Dan33l commented on #199
`git bisect` says that https://github.com/mcanevet/rspec-puppet-facts/commit/21442e77a1ef21bc3e60b45a2eee66cc92c7df4c is the first bad commit

[2019-08-06 22:13] Dan33l commented on #199
The issue occur only with BSD flavors. It is probably linked with this [if statement with $facts['os']['family']](https://github.com/voxpupuli/puppet-snmp/blob/master/manifests/client.pp#L52).

When i remove all BSD flavors tests are passing.

With facter 2.4  $facts['os']['family'] is shipped with facterdb :
 * https://github.com/camptocamp/facterdb/blob/master/facts/2.4/freebsd-9-x86_64.facts#L3

[2019-08-07 08:57] Dan33l commented on #199
FreeBSD 10.0-RELEASE is EOL since January 2015-01-31
FreeBSD 9.2-RELEASE is EOL since 2014-09-30
OpenBSD 5.9 is EOL since 2017-04-11.

I'll drop support from the module for BSD flavors in an incoming PR.

[2019-08-07 12:35] #199 closed

[2019-08-28 20:08] hdep commented on #110
I give up because I think fixing rpsec should have been done in another PR

[2019-09-14 12:27] decibelhertz opened #206 "remove hardcoded group 'root'"
Please allow user control of owner and especially group for files in the class declarations. The GID 0 is `root` on Linux, but `wheel` on FreeBD, OS X etc.  I'd like to be able to use this module across multiple kernels, and others may wish to control this for client and service.

E.G. https://github.com/voxpupuli/puppet-snmp/blob/v4.1.0/manifests/client.pp#L61

Further, are you planning on droppi

[2019-09-30 05:48] 3c2b2ff5 opened #207 "Possibility to install either snmp service, snmpd or snmptrapd"
Hi,

this is not an issue as though. But I would like to be able to install either snmpd without snmptarp. It seems `include snmp` or `class { 'snmp': } will always install snmptrap as well along with snmpd.
How can I prevent installing the snmptrap?

Thanks

[2019-12-02 14:15] davidjmemmett commented on #207
I can't get past this issue either, on Ubuntu 18.04, I get the following error:

[code]

[2020-01-21 21:36] cdenneen opened #212 "Release 4.1.1"
Can you please release 4.1.1 due to the stdlib module dependency.

[2020-01-22 09:08] #212 closed

[2020-02-05 15:36] bughatti opened #215 "# Other Configuration"
When looking through the snmp config, there is a section at the bottom called #Other Configuration.  I have looked through all the classes of the module and I can not find this section to edit.  I am using puppet environment through foreman.  Any help would be greatly appreciated.

[2020-02-05 17:50] ubellavance commented on #215
Did you look this: https://github.com/voxpupuli/puppet-snmp/blob/master/templates/snmpd.conf.erb

Check the 2 variables: @snmpd_config and @openmanage_enable. That should help you.

[2020-02-05 18:33] bughatti commented on #215
Thank you for the response, I did figure out it was @snmpd_config and was able to add updates.  Curious, if I wanted to just put our whole config in an array under @snmpd_config and then negate all other classes, would that be ok to do, or not ideal at all?  Also if I was to do that, would any other classes, even with them as empty array's, could the empty array's (configs only) interfere with the

[2020-02-20 08:51] hdep commented on #110
bug still present in 5.0.0

[2020-02-22 14:16] decibelhertz commented on #174
Folks -- looking at 5.0.0, which finally uses Hiera (hooray) $facts['fqdn'] was never used.  Easy enough to override in my environment, but am curious as to why?  More backwards compatibility that way...

[2020-02-22 14:54] ekohl commented on #174
Which facter version do you have installed? The [fqdn fact](https://puppet.com/docs/facter/3.11/core_facts.html#fqdn) is a legacy fact.

[2020-02-24 15:24] decibelhertz commented on #174
Wasn't legacy 18 months' back, but of course times change.  Looks like I had an old version of facter get installed in my unit tests, which is why I recently noticed.

[2020-03-06 16:31] xm1234567 opened #217 "To support CentOS 8"
I am wondering, if the support for CentOS 8 is in your recent update planning?

[2020-03-30 22:04] azidblazer opened #218 "rw and ro community strings wrong and default breaks rhel7 if ipv6 off"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.4.2
pe-puppet-enterprise-release-2019.1.0.2-1.pe.el7.noarch
pe-puppetdb-termini-6.3.2-1.el7.noarch
puppet6-release-6.0.0-5.el7.noarch
puppet-agent-6.4.2-1.el7.x86_64
pe-puppetdb-6.3.2-1.el7.noarch
pe-puppetserver-2019.1.0.67-1.el7.noarch

- Ruby:
- Distribution: Redhat
- Module version: Latest

## How to reproduce (e.g Pup

[2020-04-05 15:50] hdep commented on #110
fixed in  #216

[2020-04-18 01:24] alaunay commented on #207
In the module file:
data/os/Debian/18.04.yaml

If you add a line:
snmp::snmptrapd_package_name: ~

snmptrapd won't be installed.

Not perfect though, I'd very much like not to touch the module :/

[2020-04-18 01:30] alaunay opened #222 "$facts['networking']['fqdn'] is too recent"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6
- Module version: 5.0.0

Beginning from 5.0.0, sysname is defined as $facts['networking']['fqdn'] . Trouble is, only the most recent Debian has the possibility to use that syntax. The older Jessie (8) and Stretch (9) don't have it. Would it be possible to go back to the $::fqdn syntax, which works absolutely everywhere ? O

[2020-04-18 01:54] ubellavance commented on #207
@alaunay have you tried putting this line in your relevant hiera yaml file?  If you don't use hiera, you can set this in your manifest
[code]

[2020-04-18 03:51] alaunay commented on #207
Hello @ubellavance , yes, I tried. It seems it's superseded by the hiera data from the module. I did not try /that/ hard though, so I'm not 100% sure. I'm sure that by adding a 7.yaml in the same directory as 18.04 or 9, with the line above, it does the trick (Debian Wheezy does not have a separated snmptrapd package, and yes, I still have a few of those).

[2020-04-18 22:11] #110 closed

[2020-04-19 00:11] ubellavance commented on #207
Maybe you should create a separate issue for that... I'm not a super-pro with Puppet but that sure looks weird.

[2020-04-23 21:32] cestith opened #224 "dependency on stdlib versions incorrect for version 5.1.0 ; types/ip/address/v6/cidr.pp and type Stdlib::IP::Address::V6::CIDR does not seem to exist in 4.25.0"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.19
- Ruby: 2.0
- Distribution: CentOS 7.7
- Module version: 5.1.0

## How to reproduce (e.g Puppet code you use)
stdlib 4.25.1

## What are you seeing
Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Resource type not found: Stdlib::IP::Address::V6::CIDR

## What

[2020-04-24 07:47] #224 closed

[2020-06-30 11:35] syl-nktaylor opened #227 "Docs: Incorrect dependency (stdlib) listed on forge.puppet.com page"
## What are you seeing

On https://forge.puppet.com/puppet/snmp/dependencies , for versions 5.1.0 and 5.0.0:

"puppetlabs/stdlib (>= 4.25.0 < 7.0.0)" is incorrect

## What behaviour did you expect instead

"puppetlabs/stdlib (>= 5.2.0 < 7.0.0)"

## Any additional information you'd like to impart

module snmp versions >= 5.0.0 use "Stdlib::IP::Address::V6::CIDR" which was created in module stdlib v

[2020-06-30 11:43] alexjfisher commented on #227
I'll make a new release.  See https://github.com/voxpupuli/puppet-snmp/pull/228

[2020-06-30 14:22] alexjfisher commented on #227
5.1.1 is now released to the forge

[2020-06-30 14:22] #227 closed

[2020-07-07 19:51] trunet opened #229 "Doesn't work on ubuntu focal 20.04"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.16.0
- Ruby: 2.7.0
- Distribution: Ubuntu 20.04
- Module version: 5.1.0

## How to reproduce (e.g Puppet code you use)
[code]

## What are you seeing
Errors, see Output log below

## What behaviour did you expect instead
Deploys successfully without errors

## Output log
[code]

## Any additional information you'd like to

[2020-11-04 23:28] olifre opened #232 "Cannot disable traditional access control for ro_community{,6}"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.22
- Module version: 5.1.1

## How to reproduce (e.g Puppet code you use)
I am unable to disable traditional access control (I would prefer to use VACM only).
`init.pp` reads:
https://github.com/voxpupuli/puppet-snmp/blob/008aebb772de3eb9ebebbecbe70a982a51c8cce9/manifests/init.pp#L251-L252
Since both parameters have a de

[2020-12-02 21:01] aaroneg commented on #229
Assuming that you have a case statement for ubuntu 20.04 already, you can use this to call the snmp class without it breaking based on my quick testing:
[code]
I used the diff from #226 to compose this.
Tested on `mod 'puppet-snmp', '5.1.1'`
At some point in the future you should be able to drop these extra lines without consequence.

[2021-02-10 16:37] geoffdavis opened #238 "FreeBSD Support"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: all
- Ruby: all
- Distribution: FreeBSD (any)
- Module version: 5.1.1

## How to reproduce (e.g Puppet code you use)
n/a

## What are you seeing
[code]

## What behaviour did you expect instead
Working on FreeBSD.

## Output log

## Any additional information you'd like to impart
It'd be nice to be able to be able to overrid

[2021-02-10 17:47] geoffdavis commented on #206
They sure did, and it's sure annoying. Trying to put it back.

[2021-02-10 19:47] geoffdavis commented on #206
Looks like the group problem was fixed in a partial conversion to module hieradata in GH-181

[2021-02-14 01:46] #206 closed

[2021-05-06 09:16] eLvErDe opened #243 "Support Debian Bullseye 11 (to be released in may or june)"
Hello,

Could you add support for this new Debian stable release and publish and uppdated module ?

Adding support is rather trivial:

[code]

Thanks a lot !

[2021-07-21 12:23] 3c2b2ff5 opened #244 "systemd daemon-reload restarts snmpd"
Hi,

I am seeing a strange behavior of snmpd. When ever `systemctl daemon-reload`  is triggered, snmpd is restarted.

I am running keepalived with snmp support to be able to monitor the state of my vrrp instances, but when snmpd is restarted, keepalived needs a restart as well, otherwise the connection to AgentX is lost.

How is this connected to systemd? could it be that the agent socket is manag

[2021-07-21 12:28] ubellavance commented on #244
What is the Linux distribution involved? Do you have commercial support?

[2021-07-21 12:30] 3c2b2ff5 commented on #244
I am running Debian 10 with 5.10.0-0.bpo.3-amd64 Kernel. I am afraid we don't have a commercial support!

[2021-07-21 13:41] ubellavance commented on #244
Does the problem occur when you execute `systemctl daemon-reload` manually, outside a Puppet context?  If it does I think you would get better answers by writing to a Debian mailing list or forum.

[2021-07-21 14:58] 3c2b2ff5 commented on #244
It happens when `systemctl daemon-reload` is executed within puppet context

[2021-07-21 15:09] TuningYourCode commented on #244
@3c2b2ff5 do you have an example puppet report/output that we can see which resources are involved?

The only real connection between systemd and snmpd i identfied at a quick look is https://github.com/voxpupuli/puppet-snmp/blob/master/manifests/init.pp#L460-L463 or if snmpd config changes.

It would also be helpful if you can tell us your used versions of the modules (and/or update them to the la

[2021-07-21 15:13] 3c2b2ff5 commented on #244
I modified `/etc/systemd/system/consul.service.d/consul.conf` file and executed `systemctl daemon-reload` manually, nothing happened, then I run the puppet agent to restore the config and in `syslog` you can see the restart of `snmpd`:
[code]

[2021-07-21 15:17] 3c2b2ff5 commented on #244
Well I can update some modules at the next schedule, we need to coordinate this first. But for now the module versions are:
[code]

[2021-07-21 15:19] ubellavance commented on #244
You're at the latest version of this module so I think you'll have to get the module modified for your use case, or submit a PR.

[2021-07-21 15:24] 3c2b2ff5 commented on #244
Thank you very much @ubellavance

[2021-07-21 15:25] 3c2b2ff5 commented on #244
How can I get it modified?

[2021-07-21 15:28] ubellavance commented on #244
You can wait until someone does, or try to find a puppet consultant that will do the PR for you.

[2021-07-21 15:34] 3c2b2ff5 commented on #244
OK, sure thanks

[2021-07-26 07:50] 3c2b2ff5 commented on #244
This an other incident I had yesterday:
[code]

[2021-08-12 07:39] 3c2b2ff5 commented on #244
It seems the dependency  [here](https://github.com/voxpupuli/puppet-snmp/blob/4e59aa6582c83a2fb17df904fa3584ada1c1794c/manifests/init.pp#L449) is solved in [master](https://github.com/voxpupuli/puppet-snmp/blob/c84ed0ccd53f9c60836753901b830e3d6f1bb98f/manifests/init.pp#L463), but there is no tagged release for the master yet.

[2021-08-23 21:15] #229 closed

[2021-08-30 20:06] jdelker commented on #243
With Debian "Bullseye" 11 released, this becomes critical now!

[2021-08-30 21:26] ghoneycutt commented on #243
Vox Pupuli is a community effort. Please send a pull request with the changes above along with the `README.md` (https://github.com/voxpupuli/puppet-snmp/blob/master/README.md#limitations) and `metadata.json` (https://github.com/voxpupuli/puppet-snmp/blob/master/metadata.json#L51).

Please be sure the options from Debian 10 are actually the default options in Debian 11 found in `/etc/sysconfig/snmp

[2021-09-27 08:36] 3c2b2ff5 opened #252 "snmpd starts on each puppet run"
Hi,

I am running `keepalived` with `snmp` support to be able to monitor the state of my vrrp instances, `snmpd` is running on the keepalived VM's and the monitoring host. On each puppet run on the monitoring host I get the following:
[code]
Here are my simple manifests:
**$  cat manifests/snmpd.pp**
[code]
**$  cat manifests/client.pp**
[code]
`snmpd.pp` is included to the keepalived hosts and `c

[2021-09-27 08:36] 3c2b2ff5 commented on #244
I believe this is now fixed with 6.0.0. I hope so at least.

[2021-09-27 08:36] #244 closed

[2021-09-30 13:51] camillo-toselli opened #253 "Incorrect type of agentx_perms parameter"
The agentx_perms parameter is declared as Stdlib::Filemode type and the validation rules accept only a single file mode string (es 0755 or gu+w),
but the configuration parameter agentXPerms in snmpd.conf configuration file allows a more complex syntax ( SOCKPERMS [DIRPERMS [USER|UID [GROUP|GID]]] ) to specify the owner and the group of the agentX socket.
The complex syntax was allowed in puppet-sn

[2021-10-19 08:47] #252 closed

[2022-03-22 23:21] kenyon commented on #243
Yes, tests fail and there's a review comment that needs to be addressed.

[2022-03-23 00:06] #238 closed

[2022-04-14 21:43] #243 closed

[2022-06-10 08:29] mcarrolle opened #261 "Release new version"
Hi,

Can you release a new version with the Debian 11 changes?

[2022-06-24 08:32] 3c2b2ff5 opened #262 "How to disable snmpv1 and v2"
Hi,

I enabled snmpv3 but I want to disable snmpv1 and v2 for security reasons. I tired to set the `ro_community` as a one space string in yaml as follows:
[code]
is there another way to achieve this?

Thanks

[2022-06-26 09:33] 3c2b2ff5 commented on #262
I found it by setting `snmpv2_enable: false`

[2022-06-26 09:33] #262 closed

[2022-08-08 03:53] Conzar opened #263 "Support for Ubuntu 22.04"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: All
- Ruby: All
- Distribution: Ubuntu 22.04
- Module version: All

## How to reproduce (e.g Puppet code you use)
Use Ubuntu 22.04 in a VM and use snmp class.

## What are you seeing

[code]

## What behaviour did you expect instead

snmp to install correctly

## Output log
See error above

## Any additional information you'

[2022-09-04 23:40] Conzar commented on #263
This is fixed in the master branch

[2022-09-04 23:40] #263 closed

[2022-09-08 09:26] PenguinFreeDom commented on #263
Are you sure this is fixed ?....i am still seeing this error on version 6.0.0

[2022-09-09 02:41] Conzar commented on #263
It is fixed in the master branch.  So whenever they release a new version to puppet forge, it will be fixed there too.

[2022-10-10 22:38] sboyd-m commented on #261
Gonna be *that guy* and add a vote
It's always a bit uncomfortable pointing our Puppetfile to a commit rather than a nice tidy version

6.0.1 seems like it would be fine?

[2022-10-26 17:00] simonfelding opened #264 "Reload snmpd config instead of restarting service by default"
Currently, whenever the config is applied, the snmpd server is restarted. This causes monitoring software like Solarwinds Orion to report a reboot.

According to [this ticket](https://tickets.puppetlabs.com/browse/MODULES-5756), modules should implement reload on their own.
SNMPD supports a config reload by sending the HUP signal like so: `ExecReload=/bin/kill -HUP $MAINPID`

Wouldn't it be nice t